<a href="https://colab.research.google.com/github/KarinaRmzG/Inmersion-de-datos-con-Python/blob/main/IMERSION_DATOS_AULA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Clase 1**

*Conexión de google colab con drive*

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

inmuebles = pd.read_csv('/content/drive/MyDrive/Curso Python/inmuebles_bogota.csv')
inmuebles.head() #Mostrando los primeros 5 registros del dataset

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [ ]:
inmuebles.shape #Contar registros (filas,columnas)

(9520, 8)

In [ ]:
inmuebles.columns #Mostrando informacion de las columnas del dataset

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

In [ ]:
columnas = {'Baños':'Banos','Área':'Area'} #creacion de un diccionario
inmuebles = inmuebles.rename(columns=columnas) #asignacion del diccionario en las columnas
inmuebles.sample(10) #mostrar 10  registros del dataset de forma aleatoria

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
7184,Apartamento,Apartamento en venta en Kennedy,3,1,48,Kennedy,Kennedy Central,$ 135.000.000
8246,Apartamento,Apartamento en venta en Gran Granada,4,2,71,Gran Granada,Garcés Navas,$ 260.000.000
3156,Apartamento,Apartamento en venta en La Candelaria,3,5,357,La Candelaria,La Candelaria,$ 4.800.000.000
154,Apartamento,Apartamento en venta en Cedritos,3,3,108,Cedritos,Usaquén,$ 503.000.000
1218,Apartamento,Apartamento en venta en Suba,3,3,125,Suba,Suba,$ 920.000.000
1062,Apartamento,Apartamento en venta en Engativa,3,3,90,Engativa,Engativá,$ 470.000.000
5233,Apartamento,Apartamento en venta en Usaquén,3,2,73,Usaquén,Usaquén,$ 310.000.000
2810,Apartamento,Apartamento en venta en Chico Norte,1,2,66,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 790.000.000
6166,Casa,Casa en venta en Fontibón,6,3,314,Fontibón,Fontibón,$ 700.000.000
81,Apartamento,Apartamento en venta en Mazuren,3,3,92,Mazuren,El Prado,$ 372.000.000