<a href="https://colab.research.google.com/github/KarinaRmzG/Inmersion-de-datos-con-Python/blob/main/IMERSION_DATOS_AULA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Clase 1**

*Conexión de google colab con drive*

In [6]:
from google.colab import drive

drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd

inmuebles = pd.read_csv('/content/drive/MyDrive/Curso Python/inmuebles_bogota.csv')
inmuebles.head() #Mostrando los primeros 5 registros del dataset

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [8]:
inmuebles.shape #Contar registros (filas,columnas)

(9520, 8)

In [9]:
inmuebles.columns #Mostrando informacion de las columnas del dataset

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

In [10]:
columnas = {'Baños':'Banos','Área':'Area'} #creacion de un diccionario
inmuebles = inmuebles.rename(columns=columnas) #asignacion del diccionario en las columnas
inmuebles.sample(10) #mostrar 10  registros del dataset de forma aleatoria

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
9400,Casa,Casa en venta en Kennedy,10,5,396,Kennedy,Kennedy Central,$ 750.000.000
1744,Casa,Casa en venta en Ciudad Salitre,3,2,69,Ciudad Salitre,Ciudad Salitre Oriental,$ 235.000.000
5746,Apartamento,Apartamento en venta en El Retiro,3,4,214,El Retiro,CHAPINERO: Chicó Lago + El Refugio,$ 1.680.000.000
3072,Casa,Casa en venta en Kennedy,4,2,64,Kennedy,Kennedy Central,$ 199.000.000
2032,Apartamento,Apartamento en venta en Alhambra,3,4,164,Alhambra,La Alhambra,$ 780.000.000
6255,Apartamento,Apartamento en venta en Zona Noroccidental,2,1,44,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 144.000.000
5144,Apartamento,Apartamento en venta en Chico Norte,1,1,65,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 585.000.000
3809,Apartamento,Apartamento en venta en Bella Suiza,2,2,72,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 450.000.000
6331,Apartamento,Apartamento en venta en Santa Barbara,3,2,84,Santa Barbara,USAQUÉN: Country Club + Santa Bárbara,$ 390.000.000
5469,Apartamento,Apartamento en venta en Suba,3,2,69,Suba,Suba,$ 270.000.000

In [11]:
inmuebles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9478 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB